node_modules/
dist/

android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/

android/keystore.properties
*.jks
*.keystore

*.apk
*.aab
*.zip

.vercel/
.DS_Store
Thumbs.db
.idea/
